body
{
color:clack;
font-family:monospace;
}

.header
{
    background-color: rgb(241, 241, 202);
    box-shadow: 10px 10px 15px rgb(219, 202, 241);
    width:75%;
    border-radius:20px;
    padding:5px;
    margin-top:25px;
}

.footer
{
    background-color:rgb(219, 202, 241) ;
    color:black;
    width:100%;
    font-size:20px;
    position:fixed;
    bottom:0;
    line-height:2.5;
}

canvas,video
{
    border:5px solid rgba(183, 83, 245);
    box-shadow:5px 5px 10px rgb(241, 241, 202);
    width:500px;
    height:400px;
}